
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about.container {
        flex-wrap: wrap;
    }

    .experience-container {
        padding-right: 5rem;
    }

    .project-container {
        height: 60vh;
    }

}



@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }

    .experience__box, .experience-box {
        height: 27vh;
        padding-top: 1vw;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 255px;
        height: 255px;
        margin: 0 auto 0rem;
    }

    .experience-container {
        padding-top: 2vh;
        padding-bottom: 8vh;
        margin-top: 2vh;
    }

    .project__box {
        height: 50vh;
        gap: 2vw;
    }

    .project-container {
        margin-bottom: 10vh;
        margin-top: 10vh;
    }

    .about-container {
        margin-top: 0;
        font-size: 1rem;
    }

    .section__pic-container {
        align-content: center;
        margin-left: 15rem;
        padding-bottom: 2rem;
        padding-top: 0rem;
    }
    .section__pic-container1 {
        margin-left: 33vw;
        padding-bottom: 2rem;
        padding-top: 0rem;
        height: 35vh;

    }

    .detail-container {
        height: 16vh;
    }

}

@media screen and (max-width: 1150px) { 
    .experience-box {
        padding: 0.9rem;
        flex: 1;
        background: white;
        border-radius: 1.5rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
        height: 24vh;
    }
    .experience-container {
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }
    .profile__img {
        height: 200px;
        width: 200px;
    }
    .profile {
        padding-top: 0rem;
    }
    
    .about-pic {
        width: 20vw;
        height: 28vh;
        
    }
    
    .section__pic-container {
        align-content: center;
        margin-left: 19vw;
        padding-bottom: 0rem;
        padding-top: 0rem;
        height: 34vh;
    }
    .section__pic-container1 {
        margin-left: 26.5vw;
        padding-bottom: 0rem;
        padding-top: 0rem;
        height: 34vh;
        /* background-color: black; */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .btn-color-1, .btn-color-2 {
        width: 20vh;
    }

    .detail-container {
        height: 16vh;
    }
}
@media screen and (max-width: 1000px) { 
    .project-container {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
        flex-direction: row;
    }

    
    .project__box {
        padding: 1rem;
        flex: 0;
        background: white;
        border-radius: 1.5rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
        width: 60vw;
    }
    .experience-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .experience__box {
        padding: 0.9rem;
        flex: 1;
        background: white;
        border-radius: 1.5rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
        height: 24vh;
    }

    p {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 970px) {
    h4 {
        font-size: 1.7vh;
    }
    .box__front {
        padding-left: 0rem;
    }
    .section__pic-container {
        margin-left: 17vw;
    }
    /* .section__pic-container1 {
        margin-left: 15vw;
    } */
}

@media screen and (max-width: 800px) {
    .btn-color-2, .btn-color-1 {
        width: 19vw;
    }

    .section__pic-container1 {
        margin-left: 0;
        /* background-color: black; */
        display: flex;
        justify-content: center;
        width: 90%;
        align-items: center;
    }
    .section__pic-container {
        margin-left: 17vw;
    }

    .section-container {
        margin-left: 13vw;
    }

    .text-container {
        width: 65vw;
    }

    .about-pic {
        width: 27vw;
        height: 29vh;
    }

    p {
        font-size: 2vw;
    }

    .detail-container {
        height: 20vh;
    }

    .experience__box, .experience-box {
        height: 30vh;
        width: 10vw;
    }

    .experience-container {
        padding-bottom: 0rem;
        padding-right: 0rem;
    }
    .experience__container {
        padding-bottom: 2rem;
    }

    .front__container {
        height: 7vh;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    align-items: center;
    }

    .project__pic-container {
        height: 26vh;
    }

    /* ************************* Project Css mediaquries *************** */

    #project {
        margin: 10rem;
        padding-left: 0.2rem;
    }

    .project__box {
        display: flex;
        padding: 1vw;
    }

    .project-container {
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 0.1rem;
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .section__pic-container {
        margin: 2.8rem;
        margin-top: -2rem;
        height: 200px;
        margin-left: 17vw;
    }

    .project__pic-container {
        height: 22vh;
        width: 29vw;
        padding-bottom: 0.5rem;
        padding-top: 0rem;
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    .btn-container {
        margin-top: 0rem;
        padding-bottom: 0.5rem;
        padding-left: 0.4rem;
        gap: 0.8rem;
        height: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .heading__1 {
        height: 3rem;
        font-size: 1.4rem;
        padding-bottom: 0rem;
    }

    .btn-numb {
        height: 10rem;
        padding-left: 0.2rem;
    }

    #social-container {
        padding-top: 2rem;
    }

    .about-detail-container {
    padding-left: 7vw;
    padding-bottom: 1.2vw;
}
}

@media screen and (max-width: 600px) {

    * {
        padding: 0;
        margin: 0;
    }

    .front__container {
        height: 5vh;
    }

    .experience-container {
        margin: -1rem;
        padding-top: 0rem;
        padding-right: 0rem;
    }


    #experience {
        height: 10%0;
    }
    body {
        height: 100%;
    }
    #contact, .contact-container {
        height: 100vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    .contact__footer {
        height: fit-content;
        margin-bottom: 2rem;
    }

    p {
        font-size: 2.4vw;
    }

    .text-container {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .about-container, .contact-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact__box {
        margin: 0;
    }

    .contact__copyright, .nav-link li a {
        font-size: 1rem;
    }

    .section__text__front {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-link {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 40vw;
        justify-content: center;
        padding-bottom: inherit;
        margin: 1rem;
    }
    .section__pic-container1 {
        margin-left: 0;
        /* background-color: black; */
        display: flex;
        justify-content: center;
        width: 85%;
        align-items: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }
    .section__text__p1 {
        padding-top: 0.1rem;
        font-size: 1.4vh;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
        padding-right: 0rem;
        padding-top: 9vw;
        margin: 0;
    }

    .btn-color-2, .btn-color-1 {
        width: 25vw;
    }

    #about {
        padding: 2rem;
        padding-top: 1rem;
        margin-right: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .about-detail-container {
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0rem;
    }

    body {
        width: 100%;
    }

    .about-pic {
        align-self: self-end;
        width: 180px;
        height: 180px;
        
    }

    .detail-container {
        margin: 0rem;
        padding-top: 0.5rem;
        padding-bottom: 5vw;
    }

    .about-container {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0rem;
        height: 10rem;
        padding-top: 0rem;
    }

    .section-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem;
        margin: 0rem;
    }

    .experience-container {
        padding: 0.5rem;
        margin: 0rem;
        margin-top: 0.5rem;
    }

    #experience {
        padding: 0rem;
        margin: 0.7rem;
        margin-top: 1.5rem;
        height: 100vh;
    }

    .experience__box {
        width: 22rem;
        height: 10rem;
        padding: 0rem;
    }

    .experience-container {
        margin-top: 0.7rem;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.7rem;
        align-items: center;
    }

    .section__text__front {
        height: 38px;
        font-size: 1rem;
    }

    .front__container {
        padding: 1rem;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }

    .box__front {
        padding: 0.5rem;
    }

    .experience-box{
        display: none;
    }

    .project__box {
        height: 25rem;
        display: flex;
        padding: 0.2;
        padding-bottom: 0rem;
        padding-top: 0.5rem;
        padding-right: 0.7rem;
        padding-left: 0.8rem;
    }

    #project {
        margin: 10rem;
        padding-left: 0.2rem;
    }

    .project-container {
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 0.1rem;
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .section__pic-container {
        margin: 2.5rem;
        margin-top: -2rem;
        height: 200px;
    }

    .project__pic-container {
        height: 22vh;
        width: 29vw;
        padding-bottom: 0.5rem;
        padding-top: 0rem;
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    .btn-container {
        margin-top: 0rem;
        padding-bottom: 0.5rem;
        padding-left: 0.4rem;
        gap: 0.8rem;
        height: 20px;
    }

    .heading__1 {
        height: 3rem;
        font-size: 1.4rem;
        padding-bottom: 0rem;
    }

    .btn-numb {
        height: 10rem;
        padding-left: 0.2rem;
    }

    #social-container {
        padding-top: 2rem;
    }

    /* ******************contact**************** */

    .contact-container {
        padding-right: 1rem ;
        padding-top: 3rem ;
        padding: 2rem;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-evenly;
        height: 70vh;
        gap: 1rem;
    }

    .contact__box {
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 66px;
        width: 19rem;
        padding-right: 0rem
    }

    .contact__foote {
        padding-top: 1rem;
    }

    .contact__copyright {
        padding-top: 2rem;
        font-size: 0.8rem;
        text-align: center;
    }

    #contact {
        padding-top: 4.5rem;
    }

    .contact__nav {
        justify-content: space-around;
    }

    .heading__1 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 450px) {
    .btn-color-1, .btn-color-2 {
        width: 29vw;
    }

    .detail-container {
        height: 17vh;
    }

    .text-container {
        padding-top: 6vh;
        padding-left: 0;
    }

    p {
        font-size: 1.8vh;
    }

    .front__container {
        padding-bottom: 5vh;
    }

    .experience-container {
        margin-top: 0;
        gap: 3.7vh;
    }

    .contact__text {
        padding-bottom: 1.6vh;
    }
    .experience__container {
        margin-top: 1vh;
    }


    .project__box {
        width: 77vw;
    }

    .project__pic-container {
        width: 34vw;
    }

    .project-container {
        margin-top: 0.7vw;
        gap: 2vh;
    }

    .section__pic-container {
        padding-top: 4vh;
    }
}